In [2]:
import pandas as pd
import os
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 12000)
pd.set_option('display.width', 1000)

In [3]:
fish = pd.read_csv('Ловцы_аномалий_в_базах_вылова_и_переработки_рыбопродуктов/Датасет/db1/ref/fish.csv', sep=';')
prod_designate = pd.read_csv('Ловцы_аномалий_в_базах_вылова_и_переработки_рыбопродуктов/Датасет/db1/ref/prod_designate.csv', sep=';')
prod_type = pd.read_csv('Ловцы_аномалий_в_базах_вылова_и_переработки_рыбопродуктов/Датасет/db1/ref/prod_type.csv', sep=';')
regime = pd.read_csv('Ловцы_аномалий_в_базах_вылова_и_переработки_рыбопродуктов/Датасет/db1/ref/regime.csv', sep=';')
region = pd.read_csv('Ловцы_аномалий_в_базах_вылова_и_переработки_рыбопродуктов/Датасет/db1/ref/region.csv', sep=';')
product = pd.read_csv('Ловцы_аномалий_в_базах_вылова_и_переработки_рыбопродуктов/Датасет/db1/product.csv', sep=',')
catch = pd.read_csv('Ловцы_аномалий_в_базах_вылова_и_переработки_рыбопродуктов/Датасет/db1/catch.csv', sep=',')
ext = pd.read_csv('Ловцы_аномалий_в_базах_вылова_и_переработки_рыбопродуктов/Датасет/db2/Ext.csv', sep=',')
ext2 = pd.read_csv('Ловцы_аномалий_в_базах_вылова_и_переработки_рыбопродуктов/Датасет/db2/Ext2.csv', sep=',')

In [4]:
catch

       id_ves        date  id_region  id_fish  catch_volume  id_regime  permit  id_own
0        1628  2022-01-01        272      400      31.87400         41    2824     961
1          70  2022-01-01        277      886       0.47600          1    2414    1281
2        1608  2022-01-01        116      409      26.31000         15    3031    1227
3         832  2022-01-01        272      292       9.54100          1    1894    1281
4         832  2022-01-01        272      113       0.06200          1    1894    1281
...       ...         ...        ...      ...           ...        ...     ...     ...
85082    1603  2022-04-20        108      410       1.16600         18    2030     938
85083      60  2022-04-20        265      292       1.34500         97    2458    1101
85084    1323  2022-04-20        507      113       0.00400         97    2008     976
85085    1621  2022-04-20        206      147       0.50505         97    2501    1177
85086    1621  2022-04-20        206       88       0.22736         97    2501    1177

[85087 rows x 8 columns]

In [5]:
print(df.groupby(by=['Fruit','Date']).sum().groupby(level=[0]).cumsum())

NameError: name 'df' is not defined

In [6]:
# Каждой рыбы поймано всего корблём
soed = catch.merge(fish, on='id_fish' , how = 'left')
#soed = soed.merge(prod_designate, on='id_prod_designate' , how = 'left')
#soed = soed.merge(prod_type, on='id_prod_type' , how = 'left')
soed = soed.merge(regime, on='id_regime' , how = 'left')
soed = soed.merge(region, on='id_region' , how = 'left')
soed = soed[['id_ves','fish','catch_volume']]
catch_by_id_ves =  soed.groupby(['id_ves','fish'] , as_index=False)['catch_volume'].sum()

In [7]:
product

        id_ves        date  id_prod_designate  id_prod_type  prod_volume  prod_board_volume
0         1610  2022-01-01                  1         10128        0.102              8.234
1          757  2022-01-01                  3          3901        0.000             42.780
2          564  2022-01-01                  1          1113        0.000              0.050
3          564  2022-01-01                  1          1135        0.000              4.300
4          564  2022-01-01                  1          4648        0.000              0.225
...        ...         ...                ...           ...          ...                ...
395066     471  2022-04-20                  1          1027        0.000              0.000
395067     471  2022-04-20                  1          1055        0.000              0.000
395068     211  2022-04-20                  1          9661        0.044              5.589
395069     211  2022-04-20                  1          9660        9.394             72.115
395070    1603  2022-04-20                  1          1092        0.000              0.045

[395071 rows x 6 columns]

In [8]:
soed = product.merge(prod_designate, on='id_prod_designate' , how = 'left')
soed = soed.merge(prod_type, on='id_prod_type' , how = 'left')
soed = soed[['id_ves','prod_volume','prod_type_full','prod_board_volume']]
soed

        id_ves  prod_volume                                     prod_type_full  prod_board_volume
0         1610        0.102       печень трески мороженая полиэтиленовый пакет              8.234
1          757        0.000   краб-стригун красный конечности варено-мороженые             42.780
2          564        0.000  окунь морской.всех размеров потрошен. охлажден...              0.050
3          564        0.000  треска вcех размеров потрошен. обезглавл. охла...              4.300
4          564        0.000                          печень трески охлажденная              0.225
...        ...          ...                                                ...                ...
395066     471        0.000                   камбала неразделеланная сырец 1с              0.000
395067     471        0.000  треска всех размеров потрошен. с головой охлаж...              0.000
395068     211        0.044                                    хамса мороженая              5.589
395069     211        9.394                           килька (шпрот) мороженая             72.115
395070    1603        0.000  зубатка пестрая потрошен. обезглав. охлажден. ...              0.045

[395071 rows x 4 columns]

In [8]:
p = product.loc[(product['id_ves'] == 2)]

In [84]:
(sorted(list_of_days)[3] - sorted(list_of_days)[0]).days

3

In [ ]:
prod_type.columns

,id_prod_type,prod_type,id_fish,prod_type_full
0,6060,Рыба охлажденная,2,рыба охлажденная
1,9420,альгинат натрия,29,альгинат натрия
2,6010,Пряный посол и маринады,2,пряный посол и маринады
3,6490,икра прочих рыб,2,икра прочих рыб
4,8302,"Рыба, морепродукты и отходы от разделки рыбы д...",2,рыба морепродукты и отходы от разделки рыбы дл...
...,...,...,...,...
10188,9712,краб-стр опил компл конеч в панц вар-мор гр L,294,краб-стригун опилио комплект конечностей в пан...
10189,9713,краб-стр опил компл конеч в панц вар-мор гр 2L,294,краб-стригун опилио комплект конечностей в пан...
10190,9714,краб-стр опил компл конеч в панц вар-мор гр 3L,294,краб-стригун опилио комплект конечностей в пан...
10191,9715,краб-стр опил компл конеч в панц вар-мор гр 4L,294,краб-стригун опилио комплект конечностей в пан...
10192,9716,краб-стр опил компл конеч в панц вар-мор гр 5L,294,краб-стригун опилио комплект конечностей в пан...

   id_regime                                             regime
0          0                                       не определен
1          1                                   промышленный лов
2          3                               научные исследования
3         12                             прибрежное рыболовство
4         15         промысел для РФ по международным договорам
5         18      добыча (вылов) ВБР, ОДУ которых не установлен
6         22  промысел в ИЭЗ РФ для ин.гос.(по междунар.дого...
7         41                      на инвестиционные цели (пром)
8         61       добыча (вылов) крабов в инвест. целях (пром)
9         97                                 разрешенный прилов

Index(['id_ves', 'date', 'id_prod_designate', 'id_prod_type', 'prod_volume',
       'prod_board_volume'],
      dtype='object')

Index(['id_ves', 'date', 'id_region', 'id_fish', 'catch_volume', 'id_regime',
       'permit', 'id_own'],
      dtype='object')

id_ves
2937153    4595
7230657    3990
507352     3831
1580077    3768
8230097    3725
           ...
4118607       2
7166521       2
3386130       2
8167380       2
1727836       2
Length: 859, dtype: int64

id_ves
6817365    665
3496590    659
16137      601
2918960    597
8230097    597
          ...
7063799      2
7166521      2
3386130      2
5376044      1
7966792      1
Length: 733, dtype: int64

NameError: name 'soed' is not defined

In [ ]:
#soed.to_csv(f"soed1.csv", index=False, encoding='utf-8')

In [ ]:
soed6.info()

In [ ]:
soed.describe(include = 'all')

In [ ]:
soed.columns

In [ ]:
soed = soed['id_ves', 'date_x',  'prod_volume',
       'prod_board_volume', 'date_y',  'catch_volume',
        'permit', 'id_own', 'fish', 'prod_designate', 'prod_type',
       'id_fish_y', 'prod_type_full', 'regime', 'region']

In [83]:
# Группировка таблицы с catch по кораблям

# Получаю список уникальных кораблей
list_of_ships = list(set(catch['id_ves'].to_list()))
races = {}
for ship in list_of_ships:
    c = catch.loc[(catch['id_ves'] == ship)]
    #Проверка делал ли корабль перерыв между рейсами
    # Получаю список дней 
    list_of_days =  sorted(list(set(c['date'].to_list())))
    # Перевожу даты в секунды, Проверяю есть ли прерыв(ы) в рейсе и в какую(ие) дату(ы)
    i = 0
    end_race = 0
    all_params = []
    time_of_standing = []
    time_of_race = []
    dates_of_race = [] 
    dates_of_standing = []
    # Получаю даты рейсов и их стоянок. 
    end_race = None            
    for data in list_of_days: 
        if i == 0:
            start = data
            i +=1
        if end_race != None:
            start = data
            standing = f'{end_race.date()}#{start.date()}'
            duaration_of_standing = (start - end_race).days
            time_of_standing.append(duaration_of_standing)
            dates_of_standing.append(standing)
            end_race = None 
        data1 = data+pd.Timedelta(days=1)
        if data1 in list_of_days: 
            None
        else: 
            end_race = data
            race = f'{start.date()}#{end_race.date()}'
            duaration_of_race = (end_race - start).days
            time_of_race.append(duaration_of_race+1)
            dates_of_race.append(race)
            i += 1 
                
    races[ship] = [dates_of_race , time_of_race,time_of_standing,dates_of_standing]